node_modules/
/.env
/.env.local
dist/
.DS_Store
/.parcel-cache
/.vite
coverage/
artifacts/
cache/
build-info/
*.secret
# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
